<footer>
    <p>Mbali Mabizela</p>
    <p>Connect with me</p>
    <div class="social">
        <a href="https://www.linkedin.com/in/mbali-mabizela-23690322a/"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/MbaliMona"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-solid fa-paper-plane"></i></a>
    </div>
</footer>