<nav>
    <h2 class="Logo">M<span>M</span></h2>
    <ul>
        <li><a href="index.ejs">Home</a></li>
        <li><a href="about.ejs">About Me</a></li>
        <li><a href="projects.ejs">Projects</a></li>
        <li><a href="contact.ejs">Contact me</a></li>
        <li><a href="social">Connect with me<a></li>
    </ul>
    <a href="/public/Mbali_Mabizela_CV.pdf" class="btn">Download Cv</a>
</nav>